.body {
  font-family: $fontFamily;
}

.cardNotSelected {
  opacity: .9;
  filter: brightness(70%);
}

.cardAutoPlayed {
  filter: drop-shadow(16px 16px 20px red);
}

.tableCloth {
  background-image: url("../assets/img/cloth.jpg");
  min-height: 350px;
}

// .carpet {
//   background-image: url("../assets/img/carpet2.jpg");
// }

.wood {
  background-image: url("../assets/img/wood.jpg");
  background-color: brown;
}

.overlay-chip {
  margin-top:9.5rem;
}

.overlay-score {
  font-weight: bolder;
  font-size: large;
  margin-top:3rem;
}

.overlay-dealer-chip {
  margin-top:6rem;
}

.player-column {
  padding-left: 0;
  padding-right: 0;
}

.cardArea {
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.card-img-overlay {

  padding-left: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.2rem;
}

.cardAreaHeader {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.cardAreaHeaderContainer {
  color: rgb(0, 0, 0);
  background-color: #ced2d8;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.leaderboard-button {
  padding:0.1em;
}

.called-modal, .called-card-group {
  padding: 0;
  margin: 0;
}

.game-heading {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.headerArea {
  min-height: 90px;
}

.buttonArea {
  min-height: 84px;
  text-align: center;
}

.gameModalBody {
  padding: 0;
}

.leaderboardTable {
  padding: 0;
  margin:0;
}

.gameModalCardGroup {
  padding: 0;
  margin:0;
}

.left-padding {
  padding-left: 5px;
}

#playCardButton:disabled {
  display: none;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 540px;
  }
}

@media (max-width: 768px) {
  .overlay-chip {
    margin-top: 8rem;
  }
}

@media (max-width: 420px) {
  .card-img-overlay {

    padding-left: 0;
    top: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .overlay-score {
    margin-top: 1.8em;
  }

  .overlay-chip {
    margin-top: 5.5rem;
  }
}