.body {
  font-family: $fontFamily;
}

.cardNotSelected {
  opacity: .9;
  filter: brightness(70%);
}

.tableCloth {
  background-image: url("/cards/originals/cloth.jpg");
  min-height: 350px;
}

// .carpet {
//   background-image: url("/cards/originals/carpet4.jpg");
// }

.wood {
  // background-image: url("/cards/originals/wood.jpg");
  background-color: brown;
}

.overlay-chip {
  margin-top:9.5rem;
}

.overlay-score {
  font-weight: bolder;
  font-size: large;
  margin-top:3rem;
}

.overlay_dealer_chip {
  margin-top:6rem;
}

.player-column {
  padding-left: 0;
  padding-right: 0;
}

.cardArea {
  padding: 0.5rem;
  font-weight: bold;
}

.card-img-overlay {

  padding-left: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.2rem;
}

.cardAreaHeader {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.cardAreaHeaderContainer {
  color: rgb(0, 0, 0);
  background-color: #ced2d8;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.leaderboard-button {
  padding:0.1em;
}

.called-modal, .called-card-group {
  padding: 0;
  margin: 0;
}

.game-heading {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.headerArea {
  min-height: 90px;
}

.buttonArea {
  min-height: 84px;
}

.left-padding {
  padding-left: 5px;
}

#playCardButton:disabled {
  display: none;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 540px;
  }
}