.body {
  font-family: $fontFamily;
}

.cardNotSelected {
  opacity: .9;
  filter: brightness(70%);
}

.tableCloth {
  background-image: url("/cards/originals/cloth.jpg");
  min-height: 350px;
}

// .carpet {
//   background-image: url("/cards/originals/carpet4.jpg");
// }

.wood {
  // background-image: url("/cards/originals/wood.jpg");
  background-color: brown;
}

.overlay-chip {
  margin-top:142px;
}

.cardArea {
  padding: 0.5rem;
  //min-height: 220px;
  font-weight: bold;
}

.cardAreaHeader {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.cardAreaHeaderContainer {
  color: rgb(0, 0, 0);
  background-color: #ced2d8;
}

.headerArea {
  min-height: 90px;
}

.buttonArea {
  min-height: 84px;
}

.left-padding {
  padding-left: 5px;
}

#playCardButton:disabled {
  display: none;
}