.card {
    --cui-card-bg: ;
    border: 0;
}

.cardNotSelected {
    opacity: 1;
    filter: brightness(70%);
}

.auto-played {
    filter: drop-shadow(16px 16px 20px red);
}

.highlight-player-light {
    filter: drop-shadow(16px 16px 20px black);
}

.highlight-player-dark {
    filter: drop-shadow(16px 16px 20px white);
}

.dull-player {
    filter: grayscale(25%);
    opacity: 0.7;
}

.my-cards {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 2px;
    background-size: contain;
}
.overlay-chip {
    margin-top: 5rem;
}

.overlay-suit-chip {
    margin-top: 3rem;
}

.overlay-dealer-chip {
    margin-top: 2rem;
}

.player-score {
    font-weight: bolder;
    font-size: 1.5em;
    color: white;
}

.score-text {
    width: 2.5em;
    display: inline-block;
    border-radius: 16%;
}

.player-score-container {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.no-shadow {
    box-shadow: none !important;
}

.thumbnail-chips {
    max-width: 70px;
    max-height: 70px;
}

.thumbnail-suit {
    max-width: 45px;
    max-height: 60px;
}

.player-column {
    padding-left: 0;
    padding-right: 0;
}

.card-transparent {
    background-color: transparent;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardArea {
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.card-img-overlay {
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.2rem;
}

.image-team1-filter {
    border: solid 4px red;
}

.image-team2-filter {
    border: solid 4px yellow;
}

.image-team3-filter {
    border: solid 4px blue;
}

.clickable:hover {
    cursor: pointer;
}

.thumbnail_size {
    max-width: 100px;
    max-height: 153px;
}

.thumbnail_size_small {
    max-width: 70px;
    max-height: 100px;
}

.thumbnail_size_extra_small {
    max-width: 45px;
    max-height: 45px;
}

.leaderboard-button {
    padding: 0.1em;
}

.called-modal,
.called-card-group {
    padding: 0;
    margin: 0;
}

.game-heading {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.headerArea {
    min-height: 90px;
}

.buttonArea {
    min-height: 75px;
}

.gameModalBody {
    padding: 0;
}

.leaderboardTable {
    padding: 0;
    margin: 0;
}

.gameModalCardGroup {
    padding: 0;
    margin: 0;
}

.left-padding {
    padding-left: 5px;
}

#playCardButton:disabled {
    display: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 540px;
    }
}

@media (max-width: 420px) {
    .card-img-overlay {
        padding-left: 0;
        top: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    .overlay-chip {
        margin-top: 1rem;
    }

    .overlay-suit-chip {
        margin-top: 0.5rem;
    }

    .overlay-dealer-chip {
        margin-top: 0.5rem;
    }

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
    }
}
