.body {
    font-family: $fontFamily;
}

.card {
    --cui-card-bg: ;
    border: 0;
}

.cardNotSelected {
    opacity: 1;
    filter: brightness(70%);
}

.cardAutoPlayed {
    filter: drop-shadow(16px 16px 20px red);
}

.myCards {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 2px;
    background-image: url("/assets/img/mycards.png");
}

.dummy {
    background-image: url("/assets/img/dummy.png");
}

.gameContainer {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 2px;
}

// .carpet {
//   background-image: url("/assets/img/carpet2.jpg");
// }

.wood {
    background-image: url("/assets/img/wood.jpg");
    background-color: brown;
}

.overlay-chip {
    margin-top: 5rem;
}

.overlay-score {
    font-weight: bolder;
    font-size: large;
    margin-top: 3rem;
}

.overlay-dealer-chip {
    margin-top: 2rem;
}

.player-column {
    padding-left: 0;
    padding-right: 0;
}

.card-transparent {
    background-color: transparent;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardArea {
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.card-img-overlay {
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.2rem;
}

.cardAreaHeader {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.cardAreaHeaderContainer {
    color: rgb(0, 0, 0);
    background-color: #ced2d8;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.leaderboard-button {
    padding: 0.1em;
}

.called-modal,
.called-card-group {
    padding: 0;
    margin: 0;
}

.game-heading {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.headerArea {
    min-height: 90px;
}

.buttonArea {
    min-height: 84px;
    text-align: center;
}

.gameModalBody {
    padding: 0;
}

.leaderboardTable {
    padding: 0;
    margin: 0;
}

.gameModalCardGroup {
    padding: 0;
    margin: 0;
}

.left-padding {
    padding-left: 5px;
}

#playCardButton:disabled {
    display: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 540px;
    }
}

@media (max-width: 768px) {
    .overlay-chip {
        margin-top: 5rem;
    }
}

@media (max-width: 420px) {
    .card-img-overlay {
        padding-left: 0;
        top: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    .overlay-score {
        margin-top: 0.8em;
    }

    .overlay-chip {
        margin-top: 1rem;
    }

    .overlay-dealer-chip {
        margin-top: 0.5rem;
    }

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
