.navigation_Tab {
  height: 100%;
  min-width: 220px;
  background-color: #212121;

  &_container {
    background-color: black;
    height: 350px;
    padding-top: 50%;
  }

  &_logo {
    margin: 0 0 15px 15px;
    pointer-events: none;

    &_image {
      margin-top: 8px;
      height: 20px;
      margin-bottom: 10px;
    }
  }

  &_ProfilePic {
    height: 100px;
    border-radius: $borderRadiusCircle;
    border-style: solid;
    border-color: #000000;
    border-width: 8px;
  }

  &_content {
    text-align: center;
    pointer-events: none;
  }

  &_Title {
    font-size: $fontSizeH3;
    color: $white;
    line-height: 22px;
    font-weight: $fontWeightBold;
    margin: 28px 0 0 0;
  }

  &_designation {
    font-size: $fontSizeBase;
    color: $white;
    line-height: 14px;
    font-weight: $fontWeightRegular;
    margin: 14px 0 20px 0;
  }

  &_point {
    height: 18px;
    margin: 0 8px 0 0;
  }

  &_pointScore {
    font-size: $fontSizeBase;
    color: $white;
    line-height: 14px;
    font-weight: $fontWeightBold;
  }

  &_Menu {
    margin: 36px 0 0 28px;
  }

  &_line {
    border-bottom: 1px solid $blackShade2;
    width: auto;
    border-radius: 100px;
    margin: 40px 28px;
  }

  &_MenuContent {
    &_text {
      margin: 0 0 20px 0;
      font-size: $fontSizeBody;
      line-height: 18px;
      font-weight: bolder;
      color: white;
      cursor: pointer;
      border-bottom: none;
      text-decoration: none;
      transition: 0.2s ease-in;

      &:hover {
        color: #000000;
        border-bottom: none;
        text-decoration: none;
      }
    }
  }
}
.active {
  color: #000000;
  cursor: pointer;
  margin: 0 0 20px 0;
  font-size: $fontSizeBody;
  line-height: 18px;
  font-weight: $fontWeightBlack;
  border-bottom: none;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .navigation_Tab {
    display: none;
  }
}
